body{
    color: #000;
    background-color: #fff;
    background-image: url("../images/section-content/section-bg.jpg");
    background-repeat: repeat;
    background-size: auto;
    background-position: 0 0;
}


/* HEADER */
.header{
    margin-bottom: 58px;
    
}
.main-logo{
    position: static;
    width: auto;
    max-height: 72px;
    transform: none;
}

/* MAIN TITLE*/

.main-title{
    font-size: 30px;
    margin-bottom: 24px;
}

/* WAY */

.way-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
    margin: 0;
    margin-bottom: 52px;
    
    padding: 0;
}

.way-list  li{
    position: relative;
}
.way-list li:before{
    content: "";
    position: absolute;
    top: 8px;
    left: -20px;
    width: 7px;
    height: 7px;
    background-color: #000;
    transform: rotate(135deg);
}
.way-list li:first-child::before{
    display: none;
}
.way-list a{
    display: block;
    font-size: 14px;
    color: inherit;
    padding-right: 40px;
}
.way-list li:last-child{
    color: #aba9a7;
}

/* index columns */

.index-columns{
    background: none;
    padding: 0;
}

/* IMAGES */
.index-columns figure{
    width: 460px;
    margin: 0;
}
.index-columns .index-columns{
    margin-bottom: 29px;
}
.img-col-1,
.img-col-2{
    margin-bottom: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}
.img-col-1{
    
}

.img-col-2{
    width: 140px;
    height: 149px;
    margin-right: 16.5px;
}

.img-col-2:nth-child(3n){
    margin-right: 0;
}

/*item-info*/

.item-info{
    width: 390px;
    padding-top: 20px;
}
.item-info p{
    font-size: 14px;
    margin: 0;
}

.item-info a{
    color: #000;
    text-decoration: underline;
}
.item-info a:hover{
    color: #000;
    text-decoration: none;
}
.grey-text{
    color: #aeaeae;
}
/* price-block */

.price-block{
    display: flex; 
    flex-wrap: wrap;
    margin: 36px 0 65px;
}

.price-block p{
    margin: 0;
    padding: 9px 30px;
    background-color: #e5e5e5;
    text-align: center;
}

.price-block .btn{
    width: auto;
    padding: 9px 17px;
}

/* KIT LIST */
.item-info h2{
    margin-bottom: 32px;
}
.kit-things{
    list-style: none;
    padding-left: 18px;
}
.kit-things li{
    font-size: 14px;
    position: relative;
}
.kit-things li::before{
    content: "";
    position: absolute;
    top: 7px;
    left: -18px;
    width: 9px;
    height: 9px;
    background-color: #000;
    transform: rotate(135deg);
}

/* FOOTER*/
.footer{
    margin-top: -8px;
}