.index-columns{
    flex-wrap: wrap;
}

.big-heading{
    display: flex;
    align-items: center;
    
    font-size: 48px;
    text-align: center;
    line-height: normal;
    
}

.big-heading::before{
    content: "";
    display: block;
    margin-right: 20px;
    height: 2px;
    flex-grow: 1;

    background-color: black;
}
.big-heading::after{
    content: "";
    display: block;
    margin-left: 20px;
    height: 2px;
    flex-grow: 1;

    background-color: black;
}
/* */
.left-column,
.right-column{
    width: 460px;
    font-size: 14px;
}
.whatWeUs-list{
    list-style: none;
    margin: 0;
    padding-left: 20px; 
}

.whatWeUs-list li{
    font-size: 14px;
    position: relative;
    margin: 15px 0;
}
.whatWeUs-list li::before{
    content: "";
    position: absolute;
    top: 7px;
    left: -18px;
    width: 9px;
    height: 9px;
    background-color: #000;
    transform: rotate(135deg);
}    

.price-list-content  h3{
    font-size: 24px;
}

/* PRICE TABLE*/

.price-table{
    width: 100%;
    border: solid 2px #000;
    border-collapse: collapse;
}
.price-table td{ 
    font-size: 14px;
    width: 50%;
    padding: 8px 12px;
    border: solid 2px #000;
}
.price-table td:last-child{
    text-align: center;
}

/*00*/

.index-columns > h3{
    width: 100%;
}