body {
	font-family: "Montserrat";
	padding: 0;
	margin: 0;
}

section {
	position: relative;
	padding: 80px 0;
}

.header {
	position: absolute;
	width: 100%;
}

.header__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header__mob {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	position: relative;
	z-index: 4;
}

.header__head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.header__logo img {
	width: 100%;
}

.header__text {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 14px;
	letter-spacing: 1px;
	color: #2e3335;
	font-weight: 400;
	font-family: "Montserrat";
}

.header__phone {
	text-decoration: none!important;
	font-size: 24px;
	line-height: 60px;
	color: #2e3335;
	font-weight: 400;
	font-family: "Droid Serif";
	text-align: center;
}

.header__callback {
	text-decoration: none!important;
	padding: 15px 10px;
	border-radius: 24px;
	background-color: #ffffff;
	font-size: 14px;
	letter-spacing: 0px;
	color: #006082;
	font-weight: 400;
	font-family: "Montserrat";
	margin-left: 25px;
}

.intro {
	background: url('../img/pictures/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 185px;
}

.intro__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

.intro__title {
	font-size: 42px;
	color: #2e3335;
	font-weight: 600;
	font-family: "Montserrat";
	text-align: center;
	margin-bottom: 50px;
	line-height: 1.3;
}

.intro__title div {
	padding: 0 15px;
	display: inline-block;
	color: #ffffff;
	background: -webkit-gradient(linear, left bottom, left top, from(#00ad6b), to(#00d885));
	background: -o-linear-gradient(bottom, #00ad6b 0%, #00d885 100%);
	background: linear-gradient(0deg, #00ad6b 0%, #00d885 100%);
	border-radius: 4px;
	-webkit-transform: skewX(-10deg);
	-ms-transform: skewX(-10deg);
	transform: skewX(-10deg);
}

.intro__desc {
	font-size: 22px;
	color: #595959;
	font-weight: 400;
	font-family: "Montserrat";
	text-align: center;
	margin-bottom: 50px;
}

.calc-btn {
    z-index: 2;
	position: relative;
	border: none;
	overflow: hidden;
	-webkit-transition: 0.6s all;
	-o-transition: 0.6s all;
	transition: 0.6s all;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none!important;
	letter-spacing: 1px;
	color: #f4f4f4;
	font-weight: 700;
	font-family: "Montserrat";
	text-align: center;
	width: 350px;
	height: 76px;
	border-radius: 38px;
	padding-left: 45px;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#00ad6b), to(#00d885));
	background-image: -o-linear-gradient(bottom, #00ad6b 0%, #00d885 100%);
	background-image: linear-gradient(0deg, #00ad6b 0%, #00d885 100%);
	margin: 0 auto 70px;
}

.calc-btn--mobile {
	display: none;
}

.calc-btn:before {
	content: "";
	background: url('../img/icons/calc-btn.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 35px;
	width: 46px;
	height: 76px;
}
.calc-btn:hover {
	color: #f4f4f4;
}
.advantages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.advantages-item {
	width: 100%;
	max-width: 380px;
	padding: 10px;
	height: 280px;
	border-radius: 12px;
	-webkit-filter: drop-shadow(0 0 21.5px rgba(0, 0, 1, 0.04));
	filter: drop-shadow(0 0 21.5px rgba(0, 0, 1, 0.04));
	background-color: #ffffff;
}

.advantages-item__border {
	max-width: 360px;
	width: 100%;
	height: 260px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	padding: 30px 25px;
	border-radius: 12px;
	border: 1px dotted #ccdce2;
}

.advantages-item__img {
	margin-bottom: 20px;
}

.advantages-item__desc {
	font-size: 18px;
	line-height: 1.2;
	color: #595959;
	font-weight: 400;
	font-family: "Montserrat";
	text-align: center;
}

.advantages-item__desc span {
	font-weight: 600;
}

.container {
	max-width: 1230px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.wizard p {
	margin: 0;
}

.right-side-quiz__img {
	max-height: 285px;
}

#step4 h3 {
	margin-bottom: 5px;
}

.subtitle {
	margin-bottom: 30px;
	text-align: center;
	font-size: 12px;
	color: #999999;
	font-weight: 300;
	font-family: "Montserrat";
	text-align: center;
}

.wizard img {
	width: 100%;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
}

.border {
	border: 3px solid #00ad6b;
	border-radius: 7px;
}

.next-step img {
	margin-left: 5px;
}

#wizard {
	display: none;
}

.wizard--active {
	display: block!important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    z-index: 3;
}

.wizard--active::before {
	content: none;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.close {
	position: absolute;
	right: 0;
	top: -35px;
}

.wizard {
	margin: 60px auto;
	border-radius: 15px;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}

.wizard h3 {
	margin: 0 0 45px 0;
	font-size: 20px;
	color: #2e3335;
	font-weight: 600;
	font-family: "Montserrat";
	text-align: center;
}

.wizard-title {
	font-size: 16px;
	margin-bottom: 20px;
	position: relative;
	padding-left: 30px;
}

.wizard-title i {
	color: #2fca35;
	font-size: 30px;
	position: absolute;
	top: -6px;
	left: 0;
	line-height: 1;
}

.wizard>div.wizard-inner {
	position: relative;
	display: none;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
	color: #555555;
	cursor: default;
	border: 0;
	border-bottom-color: transparent;
}

.wizard .nav-tabs>li {
	width: 25%;
}

.left-side-quiz {
	width: 70%;
	float: left;
	padding: 70px 50px;
	position: relative;
	background: #fff;
	z-index: 21;
}

.right-side-quiz {
	width: 30%;
	float: left;
	padding: 70px 15px;
	background: #f1f1f1;
	position: relative;
}

.prev-step {
	margin-right: 200px;
}

.prev-step img {
	margin-right: 5px;
}

.wizard-btns {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	left: 0;
	padding: 0 50px;
	width: 100%;
	bottom: 70px;
}

.wizard-btns img {
	width: auto;
}

#step2 .wizard-btns,
#step3 .wizard-btns,
#step4 .wizard-btns,
#step5 .wizard-btns {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.right-side-quiz__head,
.right-side-quiz__bottom {
	font-size: 16px;
	color: #2e3335;
	font-weight: 400;
	font-family: "Montserrat";
	text-align: center;
}

.right-side-quiz__head {
	margin-bottom: 75px;
}

.right-side-quiz__bottom {
	margin-top: 40px;
}

.right-side-quiz__head span,
.right-side-quiz__bottom span {
	color: #05c37b;
}

.right-side-quiz__head span {
	font-weight: 600;
}

.right-side-quiz__bottom span {
	font-size: 12px;
	font-weight: 500;
	font-family: "Montserrat";
	text-align: center;
}

.right-side-quiz__bottom p {
	margin-top: 12px;
}

.wizard-manager {
	margin-bottom: 30px;
	position: relative;
	padding-left: 130px;
	padding-top: 11px;
	height: 100px;
}

.wizard-manager img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	-webkit-box-shadow: 0 8px 31px 0 rgba(0, 0, 0, .05);
	box-shadow: 0 8px 31px 0 rgba(0, 0, 0, .05);
	display: block;
}

.wizard-input {
	font-size: 16px;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
	margin-bottom: 0;
	font-weight: 300;
	padding: 12px;
	width: 100%;
	text-align: left;
	border: 1px solid rgba(217, 216, 230, .55);
	border-radius: 5px;
}

.wizard-input:focus {
	outline: 0;
	border: 1px solid#2fca35;
	-webkit-box-shadow: 1.7px 5.8px 21px 0 rgba(0, 0, 0, .07);
	box-shadow: 1.7px 5.8px 21px 0 rgba(0, 0, 0, .07);
}

.wizard-btn {
	border: none;
	width: 100px;
	height: 48px;
	position: relative;
	overflow: hidden;
	background: #fff;
	-webkit-transition: 0.6s all;
	-o-transition: 0.6s all;
	transition: 0.6s all;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	color: #999999;
	font-weight: 400;
	font-family: "Montserrat";
	text-align: center;
}

.wizard-btn:disabled {
	cursor: no-drop;
	opacity: 0.7;
}

.wizard-btn:disabled:hover,
.wizard-btn:disabled:focus {
	background: #fff;
	opacity: 0.7;
}

.wizard-btn:hover,
.wizard-btn:focus {
	outline: 0;
}

.wizard-btn i {
	margin-right: 10px;
}

.wizard-main-btn {
	width: 170px;
	height: 52px;
	border-radius: 26px;
	background: -webkit-gradient(linear, left bottom, left top, from(#00ad6b), to(#00d885));
	background: -o-linear-gradient(bottom, #00ad6b 0%, #00d885 100%);
	background: linear-gradient(0deg, #00ad6b 0%, #00d885 100%);
	background-color: #2fca35;
	font-size: 14px;
	letter-spacing: 1px;
	color: #f4f4f4;
	font-weight: 600;
	font-family: "Montserrat";
	text-align: center;
}

.wizard-main-btn:hover,
.wizard-main-btn:focus {
	background-color: #2fca35;
	color: #fff;
	text-decoration: none;
}

.wizard-main-btn .ink.animate {
	opacity: 1;
}

.ink {
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 100%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	z-index: 20;
	height: 240px;
	width: 240px;
	top: -5px;
	left: -92px;
}

.animate {
	-webkit-animation: ripple 1.65s linear;
	animation: ripple 1.65s linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes ripple {
	100% {
		opacity: 0;
		-webkit-transform: scale(2.5);
	}
}

@keyframes ripple {
	100% {
		opacity: 0;
		-webkit-transform: scale(2.5);
		transform: scale(2.5);
	}
}

.wizard-copyright {
	padding-left: 60px;
	position: absolute;
	bottom: 30px;
	left: 30px;
	font-size: 14px;
	color: #ccc;
}

.wizard-copyright img {
	position: absolute;
	left: 0;
	width: 46px;
}

.wizard-copyright a {
	color: #b5b5b5;
	font-weight: 500;
}

.wizard-manager-text {
	background: #fff;
	padding: 20px 20px 10px 20px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 31px 0 rgba(0, 0, 0, .05);
	box-shadow: 0 8px 31px 0 rgba(0, 0, 0, .05);
	position: relative;
}

.wizard-manager-text::after {
	content: '';
	position: absolute;
	left: 37px;
	top: -34px;
	border: 14px solid transparent;
	border-bottom: 20px solid white;
}

.wizard-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.manager-name {
	font-size: 19px;
	line-height: 19px;
	margin-bottom: 10px;
	color: #000;
	font-weight: 400;
}

.main-checkbox [type="radio"]:not(:checked),
.main-checkbox [type="radio"]:checked {
	position: absolute;
	left: -9999px;
}

.main-checkbox [type="radio"]:not(:checked)+label,
.main-checkbox [type="radio"]:not(:checked)+label,
.main-checkbox [type="radio"]:not(:checked)+label,
.main-checkbox [type="radio"]:checked+label {
	position: relative;
	cursor: pointer;
	font-size: 16px;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
	margin-bottom: 0;
	font-weight: 300;
	overflow: hidden;
	display: block;
}

.main-checkbox [type="radio"]:not(:checked)+label:before,
.main-checkbox [type="radio"]:checked+label:before {
	content: '';
	position: absolute;
	left: 15px;
	top: 15px;
	width: 36px;
	height: 36px;
	border: 5px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: 0.7;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all
}

.main-checkbox [type="radio"]:not(:checked)+label:after,
.main-checkbox [type="radio"]:checked+label:after {
	content: "";
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 13px;
	color: #fff;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 18px;
	background: #2fca35;
	border-radius: 50%;
}

.main-checkbox [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.main-checkbox [type="radio"]:disabled:not(:checked)+label:before,
.main-checkbox [type="radio"]:disabled:checked+label:before {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}

.main-checkbox [type="radio"]:disabled:checked+label:after {
	color: #999;
}

.main-checkbox [type="radio"]:disabled+label {
	color: #aaa;
}

.main-checkbox label:hover:before {
	opacity: 1!important;
}

.country {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.country-item {
	width: 32%;
	margin-bottom: 25px;
}

.country-item:hover {
	cursor: pointer;
}

.country-item--human {
	width: 24%;
}

.country-item [type="checkbox"]:not(:checked),
.country-item [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}

.country-item [type="checkbox"]:not(:checked)+label,
.country-item [type="checkbox"]:not(:checked)+label,
.country-item [type="checkbox"]:not(:checked)+label,
.country-item [type="checkbox"]:checked+label {
	position: relative;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 1.5;
	color: #595959;
	font-weight: 400;
	font-family: "Montserrat";
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
	margin-bottom: 0;
	margin-top: 12px;
	padding: 0 25px;
	width: 100%;
	text-align: left;
}

.country-item [type="checkbox"]:not(:checked)+label:before,
.country-item [type="checkbox"]:checked+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 9px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
	width: 17px;
	height: 18px;
	border-radius: 2px;
	background-color: #f2f2f2;
}

.country-item [type="checkbox"]:checked+label:before {
	background: -webkit-gradient(linear, left bottom, left top, from(#00ad6b), to(#00d885));
	background: -o-linear-gradient(bottom, #00ad6b 0%, #00d885 100%);
	background: linear-gradient(0deg, #00ad6b 0%, #00d885 100%);
	;
}

.country-item [type="checkbox"]:not(:checked)+label:after,
.country-item [type="checkbox"]:checked+label:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 3px;
	font-size: 13px;
	color: #fff;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	width: 12px;
	height: 12px;
	text-align: center;
	line-height: 18px;
	background: url(../img/icons/tick.png) no-repeat;
	background-position: center;
	border-radius: 3px;
}

.country-item [type="checkbox"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.country-item [type="checkbox"]:disabled:not(:checked)+label:before,
.country-item [type="checkbox"]:disabled:checked+label:before {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}

.country-item [type="checkbox"]:disabled:checked+label:after {
	color: #999;
}

.country-item [type="checkbox"]:disabled+label {
	color: #aaa;
}

.country-item [type="checkbox"]:checked+label {}

.wizard-box .main-checkbox img {
	margin-bottom: 10px;
}

.wizard-box {
	margin-bottom: 30px;
}

.header-wizard {
	overflow: hidden;
	margin-bottom: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.header-wizard .numeric-quest {
	font-size: 8px;
	letter-spacing: 0px;
	color: #737373;
	font-weight: 400;
	font-family: "Montserrat";
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 96px;
	height: 29px;
	border-radius: 3px;
	background-color: #f2f2f2;
	margin-left: 7px;
	-webkit-transform: skewX(-10deg);
	-ms-transform: skewX(-10deg);
	transform: skewX(-10deg);
}

.header-wizard .numeric-quest:first-child {
	margin-left: 0;
}

.header-wizard .numeric-quest--active {
	background: -webkit-gradient(linear, left bottom, left top, from(#00ad6b), to(#00d885));
	background: -o-linear-gradient(bottom, #00ad6b 0%, #00d885 100%);
	background: linear-gradient(0deg, #00ad6b 0%, #00d885 100%);
	color: #ffffff;
}

.wizard-finish-tab .left-side-quiz {
	width: 100%;
	float: none;
	padding: 80px 30px 30px;
}

.finish-title {
	font-size: 22px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #2e3335;
	font-weight: 400;
	font-family: "Montserrat";
	text-align: center;
	margin-bottom: 100px;
}

.finish-title span {
	font-weight: 600;
	color: #05c37b;
}

.after-h3 {
	color: #7e8ca8;
	font-size: 18px;
	margin-bottom: 30px;
}

.wizard-finish-tab .mdi-check-circle-outline {
	font-size: 55px;
	color: #2fca35;
}

.wizard-finish-tab .wizard-input {
	display: block;
}

.wizard-finish-tab {
	max-width: 570px;
	width: 100%;
	border-radius: 15px;
	-webkit-filter: drop-shadow(0 0 21.5px rgba(0, 0, 1, 0.04));
	filter: drop-shadow(0 0 21.5px rgba(0, 0, 1, 0.04));
	background-color: #ffffff;
	padding: 15px;
	margin: 0 auto;
}

.wizard-finish-tab-wrapper {
	padding: 60px 90px 40px 90px;
	border: 2px dashed #ccdce2;
	border-radius: 12px;
}

.personal-info {
	margin-top: 20px;
	font-size: 12px;
	color: #a8a4a4;
	font-weight: 300;
	font-family: "Montserrat";
	text-align: center;
}

.personal-info a {
	color: #73a5ab;
}

.wizard-finish-tab .wizard-input {
	font-size: 16px;
	letter-spacing: 2px;
	color: #999999;
	font-weight: 400;
	font-family: "Montserrat";
	width: 330px;
	height: 71px;
	border-radius: 36px;
	-webkit-filter: drop-shadow(0 0 21.5px rgba(0, 0, 1, 0.04));
	filter: drop-shadow(0 0 21.5px rgba(0, 0, 1, 0.04));
	background-color: #ffffff;
	border: 0.5px solid #fcfafa;
	padding-left: 80px;
	margin: 0 auto 15px;
}

.wizard-name,
.wizard-phone {
	position: relative;
}

.wizard-finish-tab .wizard-name:before,
.wizard-finish-tab .wizard-phone:before {
	content: "";
	width: 30px;
	height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 50px;
	top: 20px;
	z-index: 2;
}

.wizard-finish-tab .wizard-name:before {
	background: url('../img/icons/profile-user.png');
}

.wizard-finish-tab .wizard-name:after,
.wizard-finish-tab .wizard-phone:after {
	content: "";
	width: 1px;
	height: 41px;
	background-color: #f6f6f6;
	position: absolute;
	left: 90px;
	top: 15px;
	z-index: 2;
}

.wizard-finish-tab .wizard-phone:before {
	background: url('../img/icons/phone-call.png');
}

.wizard-finish-tab .wizard-input::-webkit-input-placeholder {
	color: #999999;
}

.wizard-finish-tab .wizard-input::-moz-placeholder {
	color: #999999;
}

.wizard-finish-tab .wizard-input:-ms-input-placeholder {
	color: #999999;
}

.wizard-finish-tab .wizard-input::-ms-input-placeholder {
	color: #999999;
}

.wizard-finish-tab .wizard-input::placeholder {
	color: #999999;
}

.intro__img {
	display: none;
	background: url(../img/pictures/intro-img.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 375px;
}

.wizard-finish-tab .wizard-btn {
	font-size: 18px;
	letter-spacing: 1px;
	color: #f4f4f4;
	font-weight: 800;
	font-family: "Montserrat";
	text-align: center;
	text-transform: uppercase;
	margin-top: 15px;
	width: 330px;
	height: 71px;
	border-radius: 34px;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#00ad6b), to(#00d885));
	background-image: -o-linear-gradient(bottom, #00ad6b 0%, #00d885 100%);
	background-image: linear-gradient(0deg, #00ad6b 0%, #00d885 100%);
}

.tab-content .wizard-finish-tab.active+.wizard-copyright {
	display: none;
}

.right-side-quiz__mob {
	display: none;
}

.police {
	padding: 50px 0 15px 0;
	text-align: center;
}

.police .personal-info {
	margin-top: 0;
	font-size: 16px;
}

.intro-mobile,
.intro-mobile--head {
	display: none;
}

.callback-form{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 5;
	background-color: #fff;
	max-width: 570px;
	width: 100%;
	padding: 15px;
	border-radius: 15px;
	transform: translate(-50%, -50%);
}

.callback-form.active{
	display: block;
}

.callback-send-btn{
	display: block;
	font-size: 18px;
	color: #f4f4f4;
	font-weight: 600;
	text-decoration: none;
	width: 100%;
	margin-top: 30px;
	padding: 15px;
	background: linear-gradient(0deg, #00ad6b 0%, #00d885 100%);
	border-radius: 30px;
	border: 0;
}

.callback-close{
	position: absolute;
	top: 25px;
	right: 25px;
}

.callback-form input + input{
	margin-top: 30px;
}

#quiz-form{
	position: relative;
}

.error{
	position: absolute;
	left: 0;
	right: 0;
	z-index: 25;
	max-width: 600px;
	height: 140px;
	padding: 10px 30px 10px 10px;
	background-color: red;
	color: #fff;
	border-radius: 3px;
	font-size:  26px;
	display: none;
}

.error.active{
	display: block;
}

.error-close{
	position: absolute;
	top: 5px;
	right: 10px;
}
@-webkit-keyframes arrowAnimation {
	0% {
		-webkit-transform: translateY(0) rotate(-45deg);
		transform: translateY(0) rotate(-45deg);
	}
	50% {
		-webkit-transform: translateY(3px) rotate(-45deg);
		transform: translateY(3px) rotate(-45deg);
	}
	100% {
		-webkit-transform: translateY(0) rotate(-45deg);
		transform: translateY(0) rotate(-45deg);
	}
}

@keyframes arrowAnimation {
	0% {
		-webkit-transform: translateY(0) rotate(-45deg);
		transform: translateY(0) rotate(-45deg);
	}
	50% {
		-webkit-transform: translateY(3px) rotate(-45deg);
		transform: translateY(3px) rotate(-45deg);
	}
	100% {
		-webkit-transform: translateY(0) rotate(-45deg);
		transform: translateY(0) rotate(-45deg);
	}
}

@-webkit-keyframes circleAnimation {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(14px);
		transform: translateY(14px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes circleAnimation {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(14px);
		transform: translateY(14px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

.modal-backdrop {
	display: none;
}

.modal-dialog .close {
	top: 0;
	right: 3px;
	font-size: 36px;
}

@media (max-width: 1190px) {
	.header__text {
		display: none;
	}
	.advantages {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.advantages-item {
		margin: 10px;
	}
	.advantages-item {
		margin: 0 0 15px 0;
	}
	.intro {
		background: url(../img/pictures/bg-main.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding-top: 85px;
	}
}

@media (max-width: 900px) {
	.country-item--human {
		width: 35%;
		margin-bottom: 15px;
	}
	.country-item {
		width: 40%;
	}
	.wizard-btns {
		bottom: 20px;
	}
	.country-item [type="checkbox"]:not(:checked)+label,
	.country-item [type="checkbox"]:not(:checked)+label,
	.country-item [type="checkbox"]:not(:checked)+label,
	.country-item [type="checkbox"]:checked+label {
		padding: 0 0 0 25px;
	}
}

@media (max-width: 768px) {
	.header__wrapper {
		display: none;
	}
	.header__mob {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.header__logo {
		width: 102px;
	}
	.header__phone {
		font-size: 13px;
		line-height: 29px;
	}
	.header__callback {
		font-size: 9px;
		padding: 5px;
		margin-left: 0;
		width: 125px;
		margin-top: 5px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.header__callback img {
		width: 22px;
		height: 22px;
		margin-right: 5px;
	}
	.wizard-main-btn {
		width: 225px;
	}
	.prev-step {
		width: 160px;
	}
}

@media (max-width: 620px) {
	.country-item {
		width: 48%;
	}
	.header-wizard .numeric-quest {
		width: 60px;
	}
	.left-side-quiz {
		padding: 35px 30px 70px 30px;
	}
	.country {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.prev-step {
		margin-right: 70px;
	}
	.wizard-flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.left-side-quiz,
	.right-side-quiz {
		width: 100%;
	}
	.right-side-quiz__img {
		max-width: 250px;
		margin: 0 auto;
	}
	.wizard-finish-tab {
		max-width: 420px;
	}
	.finish-title {
		margin-bottom: 50px;
	}
	.wizard-finish-tab .wizard-btn,
	.wizard-finish-tab .wizard-input {
		width: 270px;
	}
	.wizard-finish-tab .wizard-input {
		padding-left: 65px;
	}
	.wizard-finish-tab .wizard-name:before,
	.wizard-finish-tab .wizard-phone:before {
		left: 18px;
	}
	.wizard-finish-tab .wizard-name:after,
	.wizard-finish-tab .wizard-phone:after {
		left: 55px;
	}
}

@media (max-width: 500px) {
	.country-item [type="checkbox"]:not(:checked)+label,
	.country-item [type="checkbox"]:not(:checked)+label,
	.country-item [type="checkbox"]:not(:checked)+label,
	.country-item [type="checkbox"]:checked+label {
		font-size: 11px;
	}
	.country img {
		width: 100%;
		height: auto;
	}
	.intro-desktop {
		display: none;
	}
	.intro-mobile,
	.intro-mobile--head {
		display: block;
	}
	.intro-mobile .intro__content:before {
		content: '';
		background: url('../img/pictures/line-top.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: -40px;
		right: 0;
		left: 0;
		z-index: 1;
	}
	.mobile-side-quiz {
		z-index: 2;
	}
	.intro-mobile .intro__content:after {
		content: '';
		background: url('../img/pictures/line-bottom.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: -40px;
		right: 0;
		left: 0;
	}
	.intro-mobile .intro__title,
	.intro-mobile .intro__desc {
		z-index: 2;
	}
	.left-side-quiz {
		z-index: 3;
	}
	.intro-mobile--head:before {
		content: '';
		background: url('../img/pictures/img-1.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 234px;
        height: 260px;
		position: absolute;
		left: -25px;
		-webkit-transform: translateY(-137px);
		-ms-transform: translateY(-137px);
		transform: translateY(-137px);
		bottom: 0;
		z-index: 1;
	}
	.intro-mobile--head:after {
		content: '';
		background: url('../img/pictures/img-2.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 150px;
        height: 260px;
		-webkit-transform: translateY(-137px);
		-ms-transform: translateY(-137px);
		transform: translateY(-137px);
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.intro-mobile__bottom {
		background-color: #fff;
	}
	.calc-btn {
		margin: 0 auto 25px;
	}
	.right-side-quiz__desktop {
		display: none;
	}
	.right-side-quiz__mob {
		background: #f1f1f1;
		padding: 15px;
		display: block;
	}
	.right-side-quiz__img {
		max-width: 170px;
	}
	.right-side-quiz__img img {
		height: auto;
	}
	.right-side-quiz__head {
		margin-bottom: 30px;
	}
	.right-side-quiz {
		padding: 15px;
	}
	.right-side-quiz__bottom {
		margin-top: 0;
	}
	.intro {
		background: none;
		padding-top: 0;
		padding-bottom: 40px;
	}
	.intro-mobile--head {
		height: 400px;
		background: url(../img/pictures/intro-mob.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
	}
	.intro-mobile--head__img {
		background: url(../img/pictures/intro-mob-img.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top;
		width: 314px;
		height: 367px;
		position: absolute;
		bottom: 0;
		right: 0;
		-webkit-transform: translateY(-129px);
		-ms-transform: translateY(-129px);
		transform: translateY(-210px);
	}
	.intro-mobile--head::after, 
	.intro-mobile--head::before{
		transform: translateY(-254px);
	}
	.header__mob {
		padding: 0 15px;
	}
	.intro__content {
		margin-top: -85px;
	}
	.intro__img {
		display: block;
	}
	.intro__title {
		font-size: 19px;
		margin-bottom: 20px;
	}
	.intro__desc {
		font-size: 12px;
		margin-bottom: 7px;
	}
	.calc-btn {
		width: 194px;
		height: 42px;
		border-radius: 10px;
		font-size: 10px;
	}
	.calc-btn:before {
		width: 25px;
		height: 40px;
	}
	.intro__title div {
		padding: 0 6px;
	}
	.intro__content {
		margin-bottom: 15px;
		padding-top: 15px;
	}
	.advantages-item__desc {
		font-size: 13px;
	}
	.calc-btn--mobile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 15px auto 0;
	}
	#wizard{
		padding: 0;
		background-color: #fff;
	}
	.right-side-quiz__mob{
		display: flex;
		align-content: center;
		justify-content: center;
	}
	.right-side-quiz__head{
		font-size: 14px;
	}
	.right-side-quiz__img {
		max-width: 75px;
		margin: 0;
		margin-left: 10px;
	}
}

@media (max-width: 400px) {
	.wizard-finish-tab-wrapper {
		padding: 60px 15px;
	}
	.wizard-finish-tab {
		max-width: 320px;
	}
	.finish-title {
		font-size: 15px;
	}
}