*,
*::before,
*::after{
    box-sizing: border-box;
    outline: none;
}
p,h1,h2,h3,h4,h5,h6,ul{
    margin: 0;
    word-wrap: anywhere;
}
p{
    color: #283136;
    line-height: 24px;
}
a{
    text-decoration: none;
    font: inherit;
    color: inherit;
}                       







body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    overflow: scroll;

    margin: 0;

    font-size: 16px;
    
}
.container{
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.vissualy-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.flex-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    flex-grow: 1;
}
/* header */

.main-header{
    padding-top: 40px;
    background-color: #eeeeee;
}

/* Navigation*/
.main-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-nav > a{
    margin-right: 182px;
}
.main-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 9px;

}

.site-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.site-nav a,
.user-nav a{
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 22px;
    padding-bottom: 10px;
}
.main-nav a:hover,
.main-nav a:focus{
    color: #fb565a;
}
.main-nav a:active{
    color: rgba(0, 0, 0, .3);
}

.main-nav a.active{
    border-bottom: solid 2px #fb565a;
}


.user-nav a:last-child{
    margin-right: 0;
}
.user-btn svg{
    display: inline-block;
}
.user-btn p{
    display: inline-block;
}
.user-btn svg{
    margin-right: 21px;
    vertical-align: bottom;
}
.user-btn{
    
    width: 115px;
}


/* slider */

.slider{
    background-color: #eeeeee;
}

.slider-section{
    display: flex;
    position: relative;
    padding-top: 71px;
    padding-bottom: 71px;

}

.slider-section > div{
    width: 380px;
}

.slider-section img{
    position: absolute;
    bottom: 0;
    left: 431px;


}
.slider-section h3{
    font-size: 55px;
    font-weight: 500;
    line-height: 1;

    width: 380px;

    margin-bottom: 26px;
}

.slider-section p{
    width: 364px;
    margin-bottom: 42px;
    
}


.slider-section  .custom-btn-1{
    margin-bottom: 10px;
}


/* custom btn */
.custom-btn-1{
    cursor: pointer;

    display: block;
    border: 0;
    font: inherit;
    font-weight: inherit;
    font-weight: 500;
    text-transform: uppercase;
    padding: 13px 30px;
    background-color: #fb565a;
    color: #fff;
    border-radius: 3px;
    transition: color .1s, background-color .1s;
}
.custom-btn-1:hover,
.custom-btn-1:focus{
    background-color: #d7373b;
}
.custom-btn-1:active{
    color: rgba(255, 255, 255, .3);
    box-shadow: inset 0 3px rgba(0, 0, 0 , .1);
    background-color: #d7373b;
}
.slider-section .custom-btn-1{
    display: inline-flex;
    padding: 15px 54px;
}

/*  slider-btns */
.slider-btns{
    position: absolute;
    top: 313px;
    left: 528px;

    display: flex;
    flex-wrap: wrap;
    
}
.slider-btn{
    cursor: pointer;
    font-size: 0;
    display: flex;

    width: 18px;
    height: 18px;

    margin: 0 8.5px;

    border: 0;
    border-radius: 50%;
    
    background-color: #fff;
    padding: 0;
}


.slider-btn.active::before{
    content: "";
  
    margin: auto auto;
    width: 8px;
    height: 8px;
    border: solid 3px #c2c2c2;
    border-radius: 50%;
}

.slider-btn:focus{
    outline: solid 2.5px blue;
}

/* section line*/
.services-list,
.about-us{
    border-bottom: solid 1px rgba(40, 49, 54, .2);
}
/* services-list */

.services-list{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
}


.services-list li{
    width: 300px;
    margin-bottom: 70px;
}
.services-list li + li{
    margin-left: 100px;
}
.services-list li:nth-child(4n){
    margin-left: 0;
}

/* IMG */
.services-list figure{
    margin: 0;
    height: 146px;
    overflow: hidden;
}

.services-list img{
    width: 100%;
}



.services-list h2{
    font-weight: 700;
    text-transform: uppercase;
    margin: 24px 0 14px 0;
}
.services-list p{
    margin-bottom: 32px;
}

.services-list .custom-btn-1{
    padding: 15.5px 40px;
}

.green{
    background-color: #00ca74;
}

.green:hover,
.green:focus{
    background-color: #00bc6c;
}

.green:active{
    background-color: #00aa62;
}

.custom-orange{
    background-color: #efc84a;
}

.custom-orange:hover,
.custom-orange:focus{
    background-color: #eab534;
}

.custom-orange:active{
    background-color: #e5a722;
}






/* about-us */

.about-us{
    padding-top: 54px;
}
.index-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 46px;
}

/* left column*/
.about-us .left-column{
    padding-top: 30px;
    width: 660px;
}

.left-column h2{
    font-size: 45px;
    font-weight: 500;
    line-height: 1;

    margin-bottom: 31px;
}

.left-column h4{
    font-weight: 700;
    text-transform: uppercase;
}


.left-column p{
    margin-bottom: 40px;
}
/* what-we-do-list */

.what-we-do-list{
    list-style: none;
    margin: 0;
    padding: 0;
}


.what-we-do-list li{

    position: relative;

    margin: 30px 0;
    padding-left: 35px;
    color: #283136;
    
}




.what-we-do-list li::before{
    content: "";

    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    width: 25px;
    border: solid 1px #fb565a;
    background-color: #fb565a;
    
}

.what-we-do-list li:first-child{
    margin-left: 0;
}



/* right-column*/
.about-us .right-column{
    width: 360px;
}
.right-column img{
    margin-bottom: 28px;
}

.right-column > p{
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;  
    margin-bottom: 36px;
}
.custom-list-1{
    word-wrap: anywhere;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.custom-list-1 li{
    width: 100px;
    margin-bottom: 10px;
}
.custom-list-1 li + li{
    margin-left: 21px;
}

.custom-list-1 li:nth-child(4n){
    margin-left: 0;
}
.custom-list-1 span{
    font-size: 45px;
    font-weight: 700;
}
.custom-list-1 span::after{
    content: "%";
    font-size: 27px;
    line-height: 35px;

    vertical-align: top;
}
.custom-list-1 p{
    margin-top: 14px;
    line-height: 18px;
}


/* partner-list */

.partner-list{
    list-style: none;
    margin: 0 auto;
    padding: 0;

    position: relative;

    width: 1200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-bottom: 80px;
    
}
.partner-list::after{
    content: "";

    position: absolute;
    bottom: 0;
    left: calc(50% - 580px);

    
    width: 1200px;
    height: 1px;
    background-color: rgba(40, 49, 54, .2);
}
.partner-list li{
    display: flex;
    position: relative;
    width: 300px;

    margin: 43.5px 0;
    
}

.partner-list a{
    display: block;
    margin: auto auto;
    opacity: .2;
    transition: opacity .1s;
}

.partner-list a:hover,
.partner-list a:focus{
    opacity: 1;
}

.partner-list a:active{
    opacity: .1;
}


.partner-list li::before{
    content:"";
    position: absolute;

    top: 50%;
    right: 0;

    width: 2px;
    height: 50px;

    margin-top: -25px;

    background-color: #eeeeee;
    
}
.partner-list li:nth-child(4n)::before,
.partner-list li:last-child::before{
    display: none;
}


/* section-adress */
.section-adress{
    width: 100%;
    height: 416px;
    position: relative;
}

.section-adress iframe{
    width: 100%;
    height: 100%;
}
.section-adress .container{
    position: absolute;
    top: 0;
    left: calc(50% - 600px);
    padding: 55px 20px;
   
}
.adress{
 
    width: 320px;
    padding: 50px;
    background-color: #fff;
}
.adress h3{
    margin-bottom: 26px;
}
.adress p{
    line-height: 18px;
    color: #666666;
}

.adress p + p{
    margin-top: 15px;
}

.adress p + .custom-btn-1{
    margin-top: 45px;
}
.adress .custom-btn-1{
    width: 100%;
}


/* main-footer */

.main-footer{
    display: flex;
    padding: 70px 20px;
}
.social-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    margin-right: 131px;
}
.social-list li{
    margin: 0 6px;
    margin-bottom: 10px;
}
.social-list li:first-child{
    margin-left: 0;
}
.social-list a{
    display: flex;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background-color: #e1e1e1; 
    transition: background-color .1s, opacity .1s;
}

.social-list a:hover,
.social-list a:focus{
    background-color: #e74246;
}
.social-list a:active{
    background-color: #d7373b;
    box-shadow: inset 0 3px rgba(0, 0, 0 , .1);
}
.social-list a:active svg{
    opacity: .2;
}
.social-list svg{
    margin: auto auto;
}

.footer-inner span{
    font-size: 36px;
    font-weight: 700;
    
}
.footer-inner span + p{
    margin-top: 10px;
}
.footer-inner p{
    color: #444444;

}


/* form-write-to-us */

.form-write-to-us{
    display: none;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: calc(50% - 480px);

    width: 960px;

    padding: 70px 100px 80px 100px;
    background-color: #fff;

    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .75);
    animation: bounce .5s linear;
}


.form-write-to-us h2{
    margin-bottom: 45px;
}

.form-write-to-us .custom-btn-1{
    padding-left: 80px;
    padding-right: 80px;
}
.form-block label{
    display: block;
    font-weight: 800;
    margin-bottom: 10px;
}

.form-block input,
textarea{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    color: #444444;

    width: 360px;
    height: 50px;

    padding: 12px 10px;
    border: solid 2px #d7dcde;
    border-radius: 2px;

    margin-bottom: 30px;
    transition: border-color .1s;
}
.form-block input:hover,
textarea:hover{
    border-color: #b4b9bb;
}

.form-block input:focus,
textarea:focus{
    border-color: #000;
}
textarea:placeholder{
    color: #000;
}

.form-block textarea{
    resize: none;
    width: 100%;
    height: 115px;
}

.close-btn{
    position: absolute;
    top: 80px;
    right: 90px;

    font-size: 0;
    padding: 0;
    border: 0;
    background-color: transparent;

    width: 21px;
    height: 21px;
    opacity: .2;

    cursor: pointer;
}

.close-btn:hover{
    opacity: 1;
}
.close-btn:active{
    opacity: .1;
}
.close-btn::before,
.close-btn::after{
    content: "";

    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 10.5px);
    width: 21px;
    height: 4px;
    border-radius: 10px;

    background-color: #fb565a;
}

.close-btn::before{
    transform: rotate(45deg);
}

.close-btn::after{
    transform: rotate(-45deg);
}




@keyframes bounce{
    0%{
        transform: translateY(-200%);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-50%);
    }
}